.App {
  text-align: center;
}





.headercls {
  width:100%;
  max-width:100%;
  height:360px; 
  border-bottom: 5px solid #ffae19;  /* #a96342;*/
  /*opacity:0.6;*/
}

.bodyCont {
  display: flex;
  box-shadow: 0 0 black;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  border-top:3px solid #ffae19;
}

.headerh2 {
    text-align: center;
    font-family: Algerian;
    font-size: 40px;
    box-shadow: 0px 35px 20px -15px #111;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 1%;
}


.memeCont {
  text-align:center;
  margin-top:5%;
  margin-bottom:10%;
  position:relative;
  background-color: #f5f5f5; /*#f1f1f1;*/
  border-bottom: 5px solid #ffae19;
  font-weight:900;
  font-size:17px;
}



.topTxt {
    color:#fff!important;
    font-family: impact, sans-serif;
    font-size: 1.5emv!important;
    text-transform: uppercase!important;
    letter-spacing: 1px!important;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}


.bottomTxt {
  color:#fff!important;
  font-family: impact, sans-serif;
  font-size: 2em!important;
  text-transform: uppercase!important;
  letter-spacing: 1px!important;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
      background-color:red!important;
}




.imgcont {
  background-color: rgba(255, 0, 0, 0.1);
}


.genbtncls {
    font-family: Cooper;
    font-size: 24px;
    height: 70px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 0px solid hsl(0, 0%, 100%);
    font-weight:900;
}

.genbtncls:hover {
  color:white;
  background-color:#bdbdbd;
}

.genbtncls:active {
  background-color:#979797;
  font-weight:500;
}


.showhideimg {
  visibility: hidden;
}


input:focus {
  outline: 1px solid gray;
  background-color:#ffae19;
}


select {
  border-radius: 0%!important;

}

select:focus {
  outline: 1px solid gray;
  background-color:#ffae19;
}




button {
  border:1px solid gray;

}

button:focus {
  outline:none!important;
}

input[type=file]:hover { /*[type='file'] is hiting specificaly ONLY input with types file*/
   color:#000!important;
   background-color:#ffae19;
}


.btndownload {
  background-color: #ffae19!important;
  font-weight:900!important;
  border-radius:0px!important;
  color:black!important;
  box-shadow:none;
}

.btndownload:hover {
 background-color:#cc8400!important; 
 color:#fff!important;
 box-shadow:none;
}

.btndownload:active {
  background-color:#a36900!important;
  margin: 0% 2%!important;
}

.btndownload:focus {
  outline:none!important;
}

.arrow1 {
  font-size:40px;
}



@media screen and (max-width: 1240px){
  #optionContDiv {
    display:flex;
    flex-direction:column!important
  }
}



@media screen and (max-width: 990px){
  .genbtncls {font-size:15px;}
  .arrow1 {font-size:20px;}
}


@media screen and (max-width: 760px){
  .genbtncls {font-size:12px;}
  .btndownload {font-size:12px!important;font-weight:600}
  .btndownload  span {font-size:16px!important;}
}


@media screen and (max-width: 580px){
  .genbtncls {font-size:11px;}
  .btndownload {font-size:9px!important;font-weight:600}
  .btndownload  span {font-size:11px!important;}
}


@media screen and (max-width: 580px){
  .btndownload  span {font-size:11px!important; display:block}
}


@media screen and (max-width: 450px){
  .btndownload {font-size:9px!important;font-weight:600;}

}
